@model IEnumerable<ATCScheduler.Models.TimeOffRequest>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate) | @Html.DisplayNameFor(model => model.StartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate) | @Html.DisplayNameFor(model => model.EndTime)
                </th>
                <th width="300">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TORStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApproverNotes)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.TimeOffRequestId">@Html.DisplayFor(modelItem => item.StartDate) | @Html.DisplayFor(modelItem => item.StartTime)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate) | @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TORStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApproverNotes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TimeOffRequestId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.TimeOffRequestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
