@model ATCScheduler.Models.ViewModels.TORListViewModel

@{
    Layout = "~/Views/Shared/_TimeOffRequestsLayout.cshtml";
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Controller
            </th>  
            <th style="min-width: 170px">
                Start Date | Start Time
            </th>
            <th style="min-width: 170px">
                End Date | End Time
            </th>
            <th style="max-width: 300px">
                Description
            </th>
            <th>
                Request Status
            </th>
            <th>
               Approver Notes
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TORs) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.TimeOffRequestId">@Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate) | @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate) | @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TORStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApproverNotes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TimeOffRequestId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.TimeOffRequestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
