@model IEnumerable<ATCScheduler.Models.Shift>

@{
    ViewData["Title"] = "Index1";
    Layout = "~/Views/Shared/_ShiftsLayout.cshtml";
}

<h2>Index1</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShiftStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShiftStatus)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ShiftId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ShiftId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ShiftId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>