@model ATCScheduler.Models.ViewModels.ScheduleViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Shift
            </th>
            <th>
                Time
            </th>
            <th>
                Positions
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Shifts)
        {
            <tr>
                <td>
                    <a asp-controller="Shifts" asp-action="Details" asp-route-id="@item.ShiftId">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime) | @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @foreach(var sp in item.RequiredPositions)
                    {
                    @sp.Position.Abbreviation<text>,</text>; 
                    } 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShiftStatus)
                </td>
            </tr>
        }
    </tbody>
</table>
