@model ATCScheduler.Models.ShiftPosition

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ShiftPosition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Position.Abbreviation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Shift)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Shift.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ShiftPositionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
